@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
.register {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}
.register-header,
.register p {
  margin-top: 0;
  margin-bottom: 0;
}
.register-header {
  background: rgb(12, 77, 129);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.register-item {
      color: #ffff;
      padding:25px 25px 0;
      margin: 20px 20px 0;	
      border-radius: 3px;
  }
  input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
  }
  
  .user:before {
    content: '\f007';
    font: 14px fontawesome;
      color: #5b5b5b;
  }
  
  .lock:before {
    content: '\f023';
    font: 14px fontawesome;
      color: #5b5b5b;
  }
  
  .form input[type="password"], .form input[type="email"], .form input[type="submit"] {
    width: 100%;
  }
  .form-register {
    background: #ebebeb;
    padding: 12px;
  }
  .form-register label,
  .form-register input[type="email"],
  .form-register input[type="password"],
  .form-register input[type="submit"] {
    border-radius: 0.25rem;
    padding: 1rem;
    color: #3A3F44;  
  }
  
  .form-register label {
    background-color: #ebebeb;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .form-register input[type="email"], .form-register input[type="password"] {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .form-register input[type="email"]:focus, .form-register input[type="email"]:hover, .form-register input[type="password"]:focus, .form-register input[type="password"]:hover {
    background-color: #eeeeee;
  }
  .form-register input[type="submit"] {
    background: rgb(1, 29, 51);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  .form-register input[type="submit"]:focus, .form-register input[type="submit"]:hover {
    background: #17c;
    border-color: #05a;
  }
  .form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
  }
  
  
  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .text--center {
    text-align: center;
  }